.ToDoList {
    background: #ff6666;
    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 500px;
    color:#fff;
    box-shadow: -20px -20px 0px 0px rgba(100,100,100,0.1)
}

.ToDoList ul {
    margin-top: 2.6rem;
    list-style:none;
}

.ToDoList h1{
    font-weight: normal;
    font-size:2.6rem;
    letter-spacing: 0.05rem;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.ToDoList span {
    display: block;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    margin-bottom: 0.7rem;
    margin-left: 3rem
}